{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.title }}</title>
    <!-- <link rel="stylesheet" href="/DyplomWork/static/css/product_card.css"> -->
    <link rel="stylesheet" href="{% static 'css/product_card.css' %}">
</head>
<body>

    <header>

        <div class="logo"><a href="{% url 'home' %}">LOGO</a></div>
        <ul>
            
            <li><a href="{% url 'news' %}">news</a></li>
            <li><a href="">Contacts</a></li>
            <li><a href="">Contacts</a></li>
            <a href="{% url 'cart' %}"><img src="/app1/static/img/cart.png" alt=""></a>
        </ul>

    </header>


    <section>

    <div class="product_card">
        
        <div class="name_with_img">
            <h2>{{ product.title }}</h2>
        <img src="/DyplomWork/static/img/noimg.png" alt="">
    </div>
        
    </div>


    <div class="description">
        <p>{{ product.description }}</p>
</div>
</section>

<section class="characteristics">
    <div class="characteristics_list">
        <h1>Характеристики</h1>
        <hr>

        <ul>
            <li><span>Показатель</span> Значение</li>
            <li><span>Привет</span> Значение</li>
            <li><span>Показатель</span> два</li>
            <li><span>Показатель</span> Значение</li>
            <li><span>Показатель</span> Значение</li>
        </ul>
    </div>
</section>


    
</body>
</html>