* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
   
}


header {
    display: flex;
    align-items: center;
    background-color: rgb(12, 12, 199);
    padding: 0 15px;
  }
  header img {
    width: 25px;
    height: 25px;
  }
  header ul {
    margin-left: auto;
  }
  header ul li {
    all: unset;
  }
  header ul li a {
    all: unset;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 14px;
  }
  header ul li a:hover {
    color: green;
  }
.slider {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 0 auto;
}
.slides {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    min-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}
.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.button:hover{
    background-color: rgba(255, 255, 255, 0.9);
}


.why_us{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
}

.block {
    display: flex;
    padding: 15px; 
    background-color: #ccc;
    border: 3px solid black;
    border-radius: 20px;
    align-items: center;
    max-width: 350px;
    margin-bottom: 14px;
    
}

.number{
    font-size: 30px;
    border: 3px solid black;
    color: black;
    border-radius: 16px;
    padding: 10px;
    background-color:  white;

}

.description{
    font-size: 18px;
    margin-left: 14px;
    
}

