body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}



header{
    display: flex;
    align-items: center;
    background-color: rgb(12, 12, 199);
    padding: 0 15px;
    img{
        width: 25px;
        height: 25px;
    }

ul{

    margin-left: auto;
    li{
        
        all:unset;
        a{
            all: unset;
            cursor: pointer;
            transition: 0.3s;
            margin-left: 14px;
            
            &:hover{
                color: green;
            }
        }
    }
}
}

section{
    display: flex;
    margin: 5% auto;
    padding: 10px;
.product_card{
    display: flex;
      
    padding: 15px;
    max-width: 450px;
    max-height: 650px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 3px solid black;
    border-radius: 16px;
    .name_with_img{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        img{
            height: 300px;
        }
        h2{
            color: green;
            
        }
    }
    
}

.description{
    flex-wrap: wrap;
    display: flex;
    margin: auto;   
   text-align: start;
   font-size: 16px;
   margin: 0 auto 0 2%;  
}
}

.characteristics{
    display: flex;
    flex-direction: column;

    .characteristics_list{
        margin: 5% 20% 0 auto
    }
    ul{
        all:unset;
        li{
           list-style: none;
           margin-top: 25px;
        }
    }
    hr{
        height: 1.5px;
        border: none;
        background-color: black;
        
    }
    span{
        &::after{
            content: '- - - - - - - - - -';
            font-size: 10px;
            text-align: end;
            margin: 0 3px;
        }
    }
}